@CHARSET "UTF-8";

.node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: black;
	  stroke-width: 3px;
	}

	.node text {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  /*stroke: green;*/
	  stroke-width: 3px;
	}
	
	
		/* basic positioning */
.legend { list-style: none; }
.legend li { float: right; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .relevant { background-color: #5EBB5E; }
.legend .irrelevant { background-color: #D63D3E; }
	
	