<!DOCTYPE html>
<html lang="en" ng-app="EngineeringInsightsClientApp">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="Sunrise Admin Panel" />
		<meta name="keywords" content="Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Themeforest, Bootstrap" />
		<meta name="author" content="Bootstrap Gallery" />		
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>Engineering Insights Dashboard</title>
		
			 <!-- Now Angular related css and js  -->
  		<script src="/js/angular.min.js"></script> 
  		<script src="/js/angular-route.min.js"></script>
  		
		
   <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.4/dist/angular-nvd3.js"></script>
	
		
		
		<!-- Bootstrap CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />

		<!-- Animate CSS -->
		<link href="/css/animate.css" rel="stylesheet" media="screen" />

		<!-- Main CSS -->
		<link href="/css/main.css" rel="stylesheet" media="screen" />

		<!-- Icomoon Icons -->
		<link href="/fonts/icomoon/icomoon.css" rel="stylesheet" />
		<!-- For nvd3.css -->
		<link href="/css/nv.d3.css" rel="stylesheet">
		
		<script src="/js/d3.min.js"></script>
		<script src="/js/nv.d3.min.js"></script>
		
		<!-- nvd3 javascript for bullet chart -->
		<script src="/js/nvd3/bullet-chart.js"></script>
		<link href="/css/mycss.css" rel="stylesheet" media="screen" />	

		<!-- Circliful CSS -->
<!-- 		
		<link rel="stylesheet" href="../css/circliful/circliful.css" />
 -->
		<!-- Flags CSS -->
<!-- 
		<link rel="stylesheet" href="../css/flags/flag-icon-custom.css" />
 -->
		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="../js/html5shiv.js"></script>
			<script src="../js/respond.min.js"></script>
		<![endif]-->
		    	
  	<!--  Angular App related scripts -->
		<script src="../eng-insights-js/EngineeringInsightsClientApp.js"></script>
		<script src="../eng-insights-js/EngineeringInsightsClientApp-services.js"></script>
		<script src="../eng-insights-js/EngineeringInsightsClientApp-controllers.js"></script>
		<script src="../eng-insights-js/EngineeringInsightsClientApp-routes.js"></script>
		
			<!-- Fusion chart related --> 
   		 <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
        <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.ocean.js"></script>

		<script type="text/javascript" src="js/fusioncharts.charts.js"></script>
		<script type="text/javascript" src="js/angular-fusioncharts.min.js"></script>

	</head>  

	<body class="purple">
		<div class="sunrise-loading"></div>

		<!-- Left sidebar start -->
		<div class="vertical-nav">

			<!-- Collapse menu starts -->
			<button class="collapse-menu">
				<i class="icon-dehaze"></i>
			</button>
			<!-- Collapse menu ends -->

			<!-- Logo starts -->
			<div class="logo">
				<a href="#">
					<img src="../eng-insights-img/ibm-logo.png" alt="IBM" />
				</a>
			</div>
			<!-- Logo ends -->

			<!-- Current user starts -->
			<div class="user-info">
				<div class="user-img">
					<img src="../eng-insights-img/user1.png" alt="User Info">
					
				</div>
				<h5 class="user-name-o">ReleaseManager</h5>

			</div>
			<!-- Current user ends -->

			<!-- Sidebar menu start -->
			<ul class="menu clearfix">
				<li class="active selected">
					<a href="#overview">
						<i class="icon-graphic_eq"></i>
						<span class="menu-item">Dashboards</span>
						<span class="down-arrow"></span>
					</a>
					<ul>

						<li>
							<a href="#angular-dod-analysis">
								DoD Analysis
								<span class="label label-danger">&nbsp;</span>
							</a>
						</li>
						
						<li>
							<a href="#angular-testcase-optimization">
								TestCase Optimization
								<span class="label label-danger">&nbsp;</span>
							</a>
						</li>
					</ul>
				</li>



				
				
				
				
			</ul>
			<!-- Sidebar menu snd -->
			
		</div>
		<!-- Left sidebar end -->

		<!-- Dashboard Wrapper Start -->
		<div class="dashboard-wrapper dashboard-wrapper-lg">

			<!-- Header start -->
			<header>

				<div class="pull-right">
					<ul id="mini-nav" class="clearfix">

						<li class="list-box dropdown hidden-xs">
							<a href="/login">
								<i class="icon-exit_to_app"></i>
							</a>
						</li>
						<li class="list-box hidden-lg hidden-md">
							<button type="button" id="toggleMenu" class="toggle-menu">
								<i class="icon-menu"></i>
							</button>
						</li>
					</ul>
				</div>
				<div class="custom-search hidden-sm hidden-xs">
					<input type="text" class="search-query" placeholder="Search here ...">
					<i class="icon-search4"></i>
				</div>
			</header>
			<!-- Header ends -->

			<!-- Top Bar Starts -->
			<div class="top-bar clearfix">
				<div class="page-title">
					<h4>Overview</h4>
				</div>
				<ul class="sales-stats hidden-xs">
					<li>
						<div class="sales-block hidden-sm hidden-xs">
							<span id="sale_today"></span>
						</div>
						<div class="sales-details">
							 <i class="icon-arrow-up-right2 up"></i></h4>
							<h5>Today's Progress</h5>
						</div>
					</li>
					<li>
						<div class="sales-block hidden-sm hidden-xs">
							<span id="sale_weekly"></span>
						</div>
						<div class="sales-details">
							 <i class="icon-arrow-down-right2 down"></i></h4>
							<h5>Week's Progress</h5>
						</div>
					</li>
				</ul>
			</div>
			<!-- Top Bar Ends -->

			<!-- Main container starts -->
			<div class="main-container">
			
    				<!-- angular templating -->
       				<!-- this is where content will be injected -->
					
    				<div  ng-view></div>
    				
    				
			<div>
			<!-- Main container ends -->

			<!-- Footer Start -->
			<footer>
				IBM India SI Labs <span>2017</span>.
			</footer>
			<!-- Footer end -->
			
		</div>
		<!-- Dashboard Wrapper End -->

		
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/js/jquery.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/js/bootstrap.min.js"></script>

		<!-- jQuery UI JS -->
		<script src="/js/jquery-ui.js"></script>

		<!-- Sparkline graphs -->
		<script src="/js/sparkline.js"></script>

		
		<!-- Tiny Scrollbar JS -->
		<script src="/js/scrollbar/jquery.tinyscrollbar.min.js"></script>

		<!-- jquery ScrollUp JS -->
		<script src="/js/scrollup/jquery.scrollUp.js"></script>

		<!-- Circliful js -->
		<script src="/js/circliful/circliful.min.js"></script>
		<script src="/js/circliful/circliful.custom.js"></script>		

		<!-- Custom JS -->
		<script src="/js/custom.js"></script>
		
			
			
			
		
		
			
	</body>
</html>