<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Gowdhaman J,Navjot,Vishal,Priyanka,Nidhi,Snehal">

    <title>Engineering Insights</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">  -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
        	<img src="/images/engineeringinsights.jpg" alt="">
            
            <p>Heterogeneous product stack used in the application development lifecycle, which is often a combination of Open Source and Enterprise Products.These products provide discrete reports, relevant to a specific task / activity, and lack the integration and capability of providing comprehensive Insights into the end to end application development lifecycle.</p>
            
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Get Insights in </h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
            
                <div class="thumbnail">
                   <a href="#" >
                    	<img src="/images/requirements.png" alt="" >
                   </a>  
                    <div class="caption">
                        <h3>Requirements</h3>
                        <p>Get Insights in Requirements.</p>
                        <p>
                            
                        </p>
                    </div>
                </div>
                
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
	                <a href="#" >
	                    <img src="/images/testcases.png" alt="">
	                 </a> 
                    <div class="caption">
                        <h3>Test Cases</h3>
                        <p>Get Insights in TestCases.</p>
                        <p>
                           
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                	 <a href="#" >
	                    <img src="/images/defects.png" alt="">
	                 </a> 
                    
                    <div class="caption">
                        <h3>Defects</h3>
                        <p>Get Insights in Defects.</p>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                	<a href="#" >
                    	<img src="/images/qualityassurance.png" alt="">
                    </a>
                    <div class="caption">
                        <h3>QA</h3>
                        <p>Get Insights in QA</p>
                        <p>
                           
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy;  IBM India, SI Labs</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
