<!DOCTYPE html>
<html lang="en" ng-app="EngineerInsight">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Gowdhaman J,Navjot,Vishal,Priyanka,Nidhi,Snehal">

    <title>Engineering Insights</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Navigation -->
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">  -->
   <!-- <data-ng-include src="'header.html'"></data-ng-include>  -->
    <!-- Page Content -->
    <div class="container">

        <hr>

        
        <div class="row">
            <div class="col-sm-8">
                  <h2>Defects</h2>
                <br>
                <div>
                  <div class="table-responsive"> 
                    <table class="table" ng-controller="defectController">
                      <tbody ng-repeat="defects in people">
                          <tr>
                                <th>Defect Id</th>
                                <th>Owner</th>
                                <th>Priority</th>
                                <th>Severity</th>
                                <th>Summary</th>                                
                                <th>Select</th>
                           </tr>
                            <tr ng-repeat="defect in defects.body">
                                <td>{{defect.ID}}</td>
                                <td>{{defect.Owner}}</td>
                                <td>{{defect.Priority}}</td>
                                <td>{{defect.Severity}}</td>
                                <td>{{defect.Summary}}</td>
                                
                                <td><label for="q1-n"><input type="radio" name="select" id="select" /></label></td>
                            </tr>                     
                        </tbody>
                    </table> 
                  </div>          
                </div>      
            </div>  
            <div class="col-sm-2"> 
        <!--This div is to create a  space between two divs  -->                             
            </div>            
            <div class="col-sm-2">
                
             </div>
          </div>

        <hr>     

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
