<!-- Main Container Start -->
<div class="main-container">

	<!-- Container fluid Starts -->
	<div class="container-fluid">

		<div class="row gutter">
			
		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-blue">
					<div class="panel-heading">
						<h4>Project Health</h4>
					</div>

					<div class="panel-body">
						<div style="margin-left: 0px; padding-left: 55px;" class="row gutter">
							<table style="table-layout: auto" class="table no-margin">
								<tbody>
									<tr>
										<td style="padding: 90px 0px 70px 2px; width: 248px; height: 150px;">
											<!-- <p>Requirements</p>  -->
											<div style="margin-left: 2px; margin-right: 2px;" ng-click="progressClicked('requirement')" id="requirement" class="progress">
												<div style="width: 90%" title="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-success">90%</div>
												<div style="width: 10%" title="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-warning">10%</div>
												<ul id="horizontal-style">
													
													<div role="tooltip" class="popover fade top in" id="popover395406" style="display: block; top: -84px; left: 62px;">
														<div class="arrow" style="left: 50%;"></div><h3 class="popover-title">Requirements</h3><div class="popover-content">Frozen: 45 | In-Progress: 5 | Phase Duration: 6Weeks</div></div>
												</ul>
											</div>
										</td>
										<td style="padding: 90px 0px 70px 2px; width: 248px; height: 150px;">
											<!--<p>Development</p>  -->
											<div style="margin-left: 2px; margin-right: 2px;" ng-click="progressClicked('development')" id="dev" class="progress">
												<div style="width: 50%" title="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">50%</div>
												<div style="width: 30%" title="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-warning">30%</div>
												<ul  id="horizontal-style" >
													
													<div role="tooltip" class="popover fade top in" id="popover652241" style="display: block; top: -84px;"><div class="arrow" style="left: 50%;"></div><h3 class="popover-title">Development</h3><div class="popover-content">Features Completed: 20 | In-Progress: 12 | Phase Duration: 12Weeks</div></div>
													
													
													<div role="tooltip" class="popover fade bottom in" id="popover707161" style="display: block; top: 20px; left: 150px;"><div class="arrow" style="left: 50%;"></div><h3 class="popover-title" style="display: none;"></h3><div class="popover-content">Optimization Model Available!</div></div>
														

												</ul>
											</div>
										</td>
										<td style="padding: 90px 0px 70px 2px; width: 248px; height: 150px;">
											<!--<p>Build
												and Deploy</p>  -->
											<div style="margin-left: 2px; margin-right: 2px;" ng-click="progressClicked('deploy')" id="deploy" class="progress">
												<div style="width: 37%" title="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar" class="progress-bar progress-bar-success">37%</div>
												<div style="width: 10%" title="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-warning">10%</div>
												<ul id="horizontal-style">
													
													
													<div role="tooltip" class="popover fade top in" id="popover397671" style="display: block; top: -84px; left: 20px;"><div class="arrow" style="left: 50%;"></div><h3 class="popover-title">Build &amp; Deploy</h3><div class="popover-content">Build Successful: 120 | Build Failed: 20 | Phase Duration: 20Weeks</div></div>

												</ul>
											</div>
										</td>
										<td style="padding: 90px 0px 70px 2px; width: 248px; height: 150px;">
											<!--<p>Test</p>  -->
											<div style="margin-left: 2px; margin-right: 2px;" ng-click="progressClicked('testing')" id="test" class="progress">
												<div style="width: 40%" title="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-success">40%</div>
												<div style="width: 20%" title="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-warning">20%</div>
												<ul id="horizontal-style">
													
													<div role="tooltip" class="popover fade top in" id="popover427534" style="display: block; top: -84px;"><div class="arrow" style="left: 50%;"></div><h3 class="popover-title">Test</h3><div class="popover-content">Features Tested: 15 | Pending : 25 | Phase Duration: 18Weeks</div></div>
													
													<div role="tooltip" class="popover fade bottom in" id="popover269975" style="display: block; top: 20px; left: 75px;"><div class="arrow" style="left: 50%;"></div><h3 class="popover-title" style="display: none;"></h3><div class="popover-content">Optimization Model Available!</div></div>

												</ul>
											</div>
										</td>

									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		
		</div>
		<div class="row gutter" ng-show="showAnalyzedDev">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-blue">
					<div class="panel-heading">
						<h4>Predicted Optimization for Development</h4>
					</div>
					<div class="panel-body">
						<div class="row gutter">
							<div style="margin-left: 30px; margin-right: 10px;">
								<ol class="lens-profile-timelineTime"
									style="margin-left: 0px; margin-right: 20px;">
									<li style="left: 0; border: 15px solid #39752c;">
										<p>Start</p>
									</li>

									<li style="left: 85%; border: 15px solid #6e91cb;">
										<p style="top: 20px;">Predicted Completion:11Weeks</p>
									</li>
									<li style="left: 96%">
										<p style="left: -50px;">Expected Completion:12Weeks</p>
									</li>


								</ol>
							</div>
							<h5>1 week of development could be saved !</h5>
						</div>
					</div>
				</div>


			</div>


		</div>
		<div class="row gutter" ng-show="showAnalyzedTest">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-blue">
					<div class="panel-heading">
						<h4>Predicted Optimization for Test</h4>
					</div>
					<div class="panel-body">
						<div class="row gutter">
							<div style="margin-left: 30px; margin-right: 10px;">
								<ol class="lens-profile-timelineTime"
									style="margin-left: 0px; margin-right: 20px;">
									<li style="left: 0; border: 15px solid #39752c;">
										<p>Start</p>
									</li>

									<li style="left: 85%; border: 15px solid #6e91cb;">
										<p style="top: 20px;">Predicted Completion:18Weeks</p>
									</li>
									<li style="left: 96%">
										<p style="left: -50px;">Expected Completion:16Weeks</p>
									</li>


								</ol>
							</div>
							<h5>2 weeks of testing could be saved !</h5>
						</div>
					</div>
				</div>


			</div>


		</div>

		<div class="row gutter" ng-show="showReqProgressChart">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel">
					<div class="panel-heading">
						<h4>Requirements Progress</h4>
					</div>
					<div class="panel-body">
						<div>
							<nvd3 options="optionsRequirementProgress"
								data="dataRequirementProgress"></nvd3>
						</div>

					</div>
				</div>


			</div>
		</div>
		<div class="row gutter" ng-show="showTwoQ">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="panel panel-blue" ng-show="showdevelopmentprogress">
					<div class="panel-heading">
						<h4>Development Progress</h4>
					</div>
					<div class="panel-body">
						<div>
							<nvd3 options="optionsFeatureDevelopement"
								data="dataFeatureDevelopement"></nvd3>
						</div>
					</div>

				</div>
				<div class="panel panel-blue" ng-show="showBuildprogress">
					<div class="panel-heading">
						<h4>Build and Deploy Progress</h4>
					</div>
					<div class="panel-body">
						<div>
							<nvd3 options="optionsDefectStatus" data="dataDefectStatus"></nvd3>

						</div>
					</div>

				</div>
				<div class="panel panel-blue" ng-show="showtestingprogress">
					<div class="panel-heading">
						<h4>Testing Progress</h4>
					</div>
					<div class="panel-body">
						<div>
							<div fusioncharts type="pie3d" dataSource="{{myDataSource}}"></div>
							<!--  <nvd3 options="optionspiedefectchart" data="piedefectdata"></nvd3>
								 -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="panel panel-blue">

					<div class="panel-heading">
						<h4>Insights</h4>
					</div>
					<div class="panel-body" ng-show="showdevEngineeringprogress" style="padding: 1px 0px 0px; height:330px;">
						<div class="tabbable">
							<ul class="nav nav-tabs">

								<li ng-class="{ active: isSet(1) }"><a href
									ng-click="setTab(1)">Business Insights</a></li>

								<li ng-class="{ active: isSet(2) }"><a href
									ng-click="setTab(2)">Optimization</a></li>
								<li ng-class="{ active: isSet(3) }"><a href
									ng-click="setTab(3)">What-If Analysis</a></li>

							</ul>
							<div class="tab-content no-margin"
								style="padding-bottom: 0px; padding-top: 0px;">
								<div ng-show="isSet(1)">
									<nvd3 options="optionsDevSunBurst" data="dataDevSunBurst"
							class="with-3d-shadow with-transitions"></nvd3>
	<div>
										<table class="table no-margin" style="table-layout: auto">
											<tbody>
												<tr>
													<td style="width: 0px;"><span class="label-bullet"
														style="border: 3px solid #756bb1; height: 1px; border-bottom-width: 0px; border-top-width: 0px; top: 0px;">
													</span></td>
													<td>Skills</td>
													<td style="width: 0px;"><span class="label-bullet"
														style="border: 3px solid #d9d9d9; height: 1px; border-bottom-width: 0px; border-top-width: 0px; top: 0px;">
													</span></td>
													<td>Dependencies</td>
													<td style="width: 0px;"><span class="label-bullet"
														style="border: 3px solid #6baed6; height: 1px; border-bottom-width: 0px; border-top-width: 0px; top: 0px;">
													</span></td>
													<td>Resources</td>
												</tr>
											</tbody>
										</table>


									</div>
								</div>
								<div ng-show="isSet(2)">
									<div class="panel-body">
										<ul class="activity-list">

											<li>
												<p>
													<i class="icon-verified_user text-danger"></i>Resuable
													Assests<span class="time"></span>
												</p>
											</li>
											<li>
												<p>
													<i class="icon-offline_pin text-info"></i> Skill Level<span
														class="time"></span>
												</p>
											</li>
										</ul>
									</div>
									
								</div>
								<div ng-show="isSet(3)">
									<div class="panel-body">

										<button data-toggle="collapse" data-target="#demo"
											class="btn btn-warning btn-xs btn-rounded btn-block"
											ng-click="refreshSlider()">Skill Level</button>
										<div id="demo" class="collapse">
											<rzslider id="devSlider"
												rz-slider-model="range_slider_ticks_values.minValue"
												rz-slider-high="range_slider_ticks_values.maxValue"
												rz-slider-options="range_slider_ticks_values.options">
											</rzslider>
											<br />
										</div>
										<br />

										<button data-toggle="collapse" data-target="#demo1"
											class="btn btn-success btn-xs btn-rounded btn-block">Reusable
											Assets</button>
										<div id="demo1" class="collapse">
											<div class="checkbox">
												<label><input type="checkbox" value="">Use
													Available Assets</label>
											</div>
										</div>
										<br />


										<button ng-click="devAnalyzedClicked()" data-toggle="modal"
											type="button" class="btn btn-info btn-xm btn-rounded">Analyze</button>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="panel-body" ng-show="showTestEngineeringprogress"
						style="padding: 1px 0px 0px; height: 330px;">
						<div class="tabbable">
							<ul class="nav nav-tabs">

								<li ng-class="{ active: isSet(1) }"><a href
									ng-click="setTab(1)">Business Insights</a></li>

								<li ng-class="{ active: isSet(2) }"><a href
									ng-click="setTab(2)">Optimization</a></li>
								<li ng-class="{ active: isSet(3) }"><a href
									ng-click="setTab(3)">What-If Analysis</a></li>

							</ul>
							<div class="tab-content no-margin" style="padding-bottom: 0px; padding-top: 0px;">
								<div ng-show="isSet(1)">
									<nvd3 options="options" data="data"
									class="with-3d-shadow with-transitions"></nvd3>
									<table class="table no-margin" style="table-layout: auto">
											<tbody>
												<tr>
													<td style="width: 0px;"><span class="label-bullet"
														style="border: 3px solid #6baed6; height: 1px; border-bottom-width: 0px; border-top-width: 0px; top: 0px;">
													</span></td>
													<td>Stories</td>
													<td style="width: 0px;"><span class="label-bullet"
														style="border: 3px solid #9ecae1; height: 1px; border-bottom-width: 0px; border-top-width: 0px; top: 0px;">
													</span></td>
													<td>Skills</td>
												</tr>
											</tbody>
										</table>
								</div>
								<div ng-show="isSet(2)">
									<div class="panel-body">
										<ul class="activity-list">
											<li>
												<p>
													<i class="icon-flag2 text-info"></i> Test Automation <span
														class="time"></span>
												</p>
											</li>
											<li>
												<p>
													<i class="icon-whatshot text-warning"></i>  <a   onclick='javascript:optimizeTestcase()' style="color:Blue">
 									Testcase Optimizer</a><span class="time"></span>
												</p>
											</li>
											<li>
												<p>
													<i class="icon-offline_pin text-info"></i> Skill Level<span
														class="time"></span>
												</p>
											</li>
										</ul>
									</div>
								</div>
								
									
								</div>
								<div ng-show="isSet(3)">
									<div class="panel-body">

										<button data-toggle="collapse" data-target="#demo_t1"
											class="btn btn-warning btn-xs btn-rounded btn-block"
											ng-click="refreshSlider()">Skill Level</button>
										<div id="demo_t1" class="collapse">
											<rzslider id="testSlider"
												rz-slider-model="range_slider_ticks_values.minValue"
												rz-slider-high="range_slider_ticks_values.maxValue"
												rz-slider-options="range_slider_ticks_values.options">
											</rzslider>
											<br />
										</div>
										<br />

										<button data-toggle="collapse" data-target="#demo_t2"
											class="btn btn-success btn-xs btn-rounded btn-block">Test
											Automation</button>
										<div id="demo_t2" class="collapse">
											<div class="checkbox">
												<label><input type="checkbox" value="">Try Automation</label>
											</div>
										</div>
										<br />

										<button data-toggle="collapse" data-target="#demo_t3"
											class="btn btn-warning btn-xs btn-rounded btn-block">Test
											Cases Optimization</button>
										<div id="demo_t3" class="collapse">
											<div class="checkbox">
												<label><input type="checkbox" value="">Optimize
													Test Cases</label>
											</div>
										</div>
										<p></p>

										<button type="button" ng-click="testAnalyzedClicked()"
											class="btn btn-info btn-xm btn-rounded">Analyze</button>

									</div>
								</div>

							</div>
						</div>
					
					<div class="panel-body" ng-show="showBuildInsightprogress">
						<div>
							<nvd3 options="optionsBuildTimetaked" data="dataBuildTimetaken"></nvd3>

						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
